:root{
    --green-color: #c2635f;
    --yellow-color: #92beb1;
}

body {
    background-color: #e0d5cf;
}

.bouton {
    background-color: var(--yellow-color);
    color: #000;
    border: 2px solid var(--green-color);
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border-radius:10px;
}

.titre {
    text-align: center;
    font-size: 1.16rem;
    margin-bottom: 1rem;
    color: var(--green-color);
    font-weight: bold;
    letter-spacing: 0.2rem;
}

.encadre {
    border:2px dotted var(--green-color);
    border-radius:10px;
    padding:15px;
    max-width:700px;
    margin:auto;
    text-align:justify;
}